@page "/employeeApi"
@inject HttpClient http;

<PageTitle>Counter</PageTitle>

@if(emps != null)
{
    <h4>Some Data Found</h4>
}
else
{
    <h4 class="text-center">No Employee Found</h4>
}

@code {
    List<EmployeeFetch> emps = new List<EmployeeFetch>();
   
    protected override async void OnInitialized()
    {
       await GetEmpl();
    } 
    async Task GetEmpl()
    {
      emps=   await http.GetFromJsonAsync<List<EmployeeFetch>>("http://dummy.restapiexample.com/api/v1/employees");
    }
}
