@inherits LayoutComponentBase


       <body class="skin-black">
        
          <NavMenu />
        <div class="wrapper row-offcanvas row-offcanvas-left">
              
            <aside class="right-side">
                 <!-- Main content -->
                <section class="content">
                    @Body
              </section><!-- /.content -->
             </aside><!-- /.right-side -->
             </div><!-- ./wrapper -->
            
     </body>

  <!-- Right side column. Contains the navbar and content of the page -->
 
            @*<aside class="right-side">
                 <!-- Main content -->
                <section class="content">
                    @Body
              </section><!-- /.content -->
             </aside><!-- /.right-side -->*@
